name: Build Check with Shared Runner
# docker download mirror should setup in self host machine.
# the mirror status can be found at : https://status.daocloud.io/status/docker
on:
  workflow_dispatch:


jobs:
  build-tgz:
    strategy:
      matrix:
        arch: [X64]
        image: ["docker.cnb.cool/thinksrc/dashinfer/dev-ubuntu-cuda:latest"]
        enable_cuda: [0, 1]
    runs-on: ubuntu-22.04
    container:
      image: ${{ matrix.image }}
    env:
      ENABLE_CUDA: ${{ matrix.enable_cuda }}
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true
        submodules: true

    - name: Build tgz package
      shell: bash
      run: |
        source /opt/venv/bin/activate

        git fetch --tags
        TAG_NAME=$(git describe --tags $(git rev-list --tags --max-count=1))
        VERSION_NUMBER=$(echo "$TAG_NAME" | sed 's/^v//')

        export AS_RELEASE_VERSION=$VERSION_NUMBER

        echo "ENABLE_CUDA value: $ENABLE_CUDA"

        if [ "$ENABLE_CUDA" -eq "1" ];
        then
            export AS_PLATFORM="cuda"
            export AS_CUDA_SM="'70;75;80;86;89;90a'"
            bash scripts/release/cpp_build_cuda.sh
        else
            export AS_PLATFORM="x86"
            bash build.sh
        fi


  build-wheels:
    strategy:
      matrix:
        arch: [X64]
        image: ["docker.cnb.cool/thinksrc/dashinfer/dev-ubuntu-cuda:latest"]
        enable_cuda: [0, 1]
    runs-on: ubuntu-22.04
    container:
      image: ${{ matrix.image }}
    env:
      ENABLE_CUDA: ${{ matrix.enable_cuda }}
    steps:
    - name: Check out code
      uses: actions/checkout@v4
      with:
        lfs: true
        submodules: true

    - name: Build manylinux wheels
      shell: bash
      run: |
        source /opt/venv/bin/activate

        git fetch --tags
        TAG_NAME=$(git describe --tags $(git rev-list --tags --max-count=1))
        VERSION_NUMBER=$(echo "$TAG_NAME" | sed 's/^v//')

        export AS_RELEASE_VERSION=$VERSION_NUMBER

        echo "ENABLE_CUDA value: $ENABLE_CUDA"

        if [ "$ENABLE_CUDA" -eq "1" ];
        then
          export AS_PLATFORM="cuda"
          export AS_CUDA_SM="'70;75;80;86;89;90a'"
          bash scripts/release/python_manylinux_build_cuda.sh
        else
          bash scripts/release/python_manylinux_build.sh
        fi
